
.movie-card{
  display: flex;
}

.card {
  background: #b1b1b1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  min-width: 50px;
  max-width: 200px;
  position: relative;
  aspect-ratio: 2/3;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card.active {
  position: fixed;
  z-index: 100;
  left: 10%;
  top: 10vh;
  max-width: 70vw;
  width: 70vw;
  height: 80vh;
  flex-direction: row;
  transition: transform 0.2s, left 0.5s, top 0.5s, width 0.5s, max-width 0.5s,
    height 0.5s;
  aspect-ratio: auto;
}

@keyframes AnimationName {
  from {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  to {
    background-position: 50% 0%;
  }
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.title.active {
  display: none;
}

.poster-preloader {
  background: linear-gradient(180deg, #b1b1b1, #1d1d1d);
  background-size: 400% 400%;
  animation: 2s infinite alternate AnimationName;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 2/3;
  /* object-fit: cover; */
  /* position: absolute; */
  z-index: 1;
  /* top: 0; */
  /* left: 0; */
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.poster-preloader.active {
  width: 35%;
  position: relative;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  transition: none;
}

.details.active {
  display: none;
}

.active-details {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}

.active-details.active {
  transition: opacity 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  overscroll-behavior-y: contain;
  overflow-y: scroll;
}

.details-second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overview {
}

.genres {
  display: flex;
  align-items: center;
  text-align: center;
}

.genre-tag {
  background-color: yellow;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.rating {
  background-color: yellow;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
}

.year {
  background-color: yellow;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: fit-content;
  align-self: center;
  aspect-ratio: 16/9;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.similar-movies {
  background: grey;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  min-height: 500px;
  justify-content: center;
  padding: 10px;
  overflow-x: auto;
}
